
@{
    ViewBag.Title = "ScheduleExam";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="text-center">ScheduleExam</h2>
<p class="lead">
    Schedule Exam still under development, Mean while you can check add question / view questions.
</p>


