
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/_Layout.cshtml";
}

<h3>Welcome to Shree Yash Classes</h3>
<p class="lead">
    User dashboard
</p>
<ul class="list-unstyled">
    <li>
        <h5></h5>
        
    </li>
</ul>

